.card{
    height: 35rem;
    margin-bottom: 2rem;
}
.card img{
    height: 25rem;
}
.card-body{
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.editpage{
    display: flex;
    justify-content: space-around;
        margin-top: 2rem;
    align-items: center;
}
