{% extends 'base.html' %}
{% block navbar_content %}
    {{ super() }}
    <li class="nav-item">
        <a class="nav-link" href="/catgs/crcat">Add Category</a>
    </li>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
<div class="container mt-4 fw-bold">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for category in categories %}
            <div class="col">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <a href="{{ url_for('compos.posts_by_category', category_id=category.id) }}">
                            <h2 class="card-title">{{ category.name }}</h2>
                        </a>
                        <p class="card-text">{{ category.description }}</p>
                        <a href="editcategory/{{ category.id }}" class="btn btn-warning">Edit</a>
                        <a href="/category/{{ category.id }}/delete" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
